// Place all the styles related to the publics/endusers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comment_comment{
	width:430px;
	height: 35px;
}

.button_to{
	display: inline-block;
}

.comment-button{
	margin-top:-20px;
	margin-left: 30px;
}

.comment_error{
	font-size: 20px;
	margin:20px 0 0 20px;
	color: red;
}

.comment_success{
	font-size: 20px;
    margin:20px 0 0 20px;
	color: green;
}

.enduser_edit_error{
	font-size: 20px;
	margin:10px;
	color: red;
}

.user_info{
	margin-top: 0px;
	margin-bottom: 40px;
}

.good-button{
	width:70px;
	height: 62px;
}