
<div class="container">
    <div class="col col-lg-2"></div>
    <div class="col col-lg-8">
      <h3>日付変更で16時〜18時になった荷物</h3>
        <% change_dates = ChangeDate.where(time_zone_id: 3, delivery_date: Date.today ) %>
        <% change_dates.each do |f| %>
        <% if Takeout.where(package_id:f.package.id, delivery_person_id: current_delivery_person.id).exists? %>
        <%= render 'drivers/takeouts/takeout_templete', f: f %>
      <% end %>
      <% end %>
    </div>
</div>

<div class="container">
    <div class="col col-lg-2"></div>
    <div class="col col-lg-8">
      <h3>再配達で16時〜18時になった荷物</h3>
        <% redeliveries = Redelivery.where(time_zone_id: 3, delivery_date: Date.today ) %>
        <% redeliveries.each do |f| %>
        <% if Takeout.where(package_id:f.package.id, delivery_person_id: current_delivery_person.id).exists? %>
        <%= render 'drivers/takeouts/takeout_templete', f: f %>
      <% end %>
      <% end %>
    </div>
</div>

<div class="container">
    <div class="col col-lg-2"></div>
    <div class="col col-lg-8">
      <h3>16時〜18時指定の荷物</h3>
      <% takeouts.each do |f| %>
        <% if f.package.time_zone_id == 3 %>
          <% if f.package.complete == false  %><!-- 荷物が終わったかどうか -->
            <% if f.package.absence == false  %><!-- 一回でも配達が行われたかどうか -->

              <% if Redelivery.where(package_id: f.package.id).exists? %>
              <% else %>
                <% if ChangeDate.where(package_id: f.package.id).exists? %>
                <% else %>
                  <%= render 'drivers/takeouts/takeout_templete', f: f %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>
