
<div class="container">
    <div class="col col-lg-2"></div>
    <div class="col col-lg-8">
      <span class="search">
          <%= form_tag drivers_takeouts_path ,:method => 'get' do %>
          <%= text_field_tag :search, params[:search] ,placeholder:"お届け先で検索"  %>
          <%= submit_tag " 検索　", class: 'btn-primary' %>
          <% end %>
      </span>
      <h3>持ち出し一覧</h3>

      <% takeouts.each do |f| %>
         <% if f.package.complete == false  %><!-- 荷物が終わったかどうか -->
         <%= render 'drivers/takeouts/takeout_templete', f: f %>
         <% end %>
      <% end %>
    </div>
</div>
