<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="about"><i class="fas fa-cat"></i>宅配マスターで何ができる？</h1><i class="fas fa-paw"></i><i class="fas fa-paw"></i>
			<ol>
				<h2 class="explain"><li>”伝票番号”で荷物の検索ができ、再配達の依頼をすることができる！<br> （伝票番号は不在票に12桁で書いています）</li></h2>
				<h2 class="explain"><li>”電話番号”で荷物の検索ができ、届く予定の荷物の配達時間を変更することができる！</li></h2>
				<h2 class="explain"><li>会員登録すると、より便利な機能を使えるようになります！ <br> <%= link_to "宅配マスターへ会員登録すると？？" , homes_plus_path %></li></h2>
			</ol>
		</div>
	</div>
</div>