
<div class="container container-lg-12">
	<div class="row row-master">
		<div class="col col-lg-3"></div>
		<div class="col col-lg-6">
			<h2 class="master-title">ようこそ宅配マスターへ！</h2>
			<div class=" home_botton"><%= link_to "ログインせずに、荷物の再配達を依頼する", new_redelivery_path , class: 'btn btn-default btn-lg btn-block' %>
			</div>
			<div class=" home_botton"><%= link_to "届く予定の荷物の配達日時を変更する", new_change_date_path , class: 'btn btn-info btn-lg btn-block '%>
			</div>
			<div class=" home_botton"><%= link_to "ログイン", enduser_session_path , class: 'btn btn-warning btn-lg btn-block '%>
			</div>
			<div class=" home_botton"><%= link_to "会員登録（無料）", new_enduser_registration_path , class: 'btn btn-warning btn-lg btn-block ' %>
			</div>
			<h4 class="master-title">＼　会員登録するとより便利な機能が使えます！　／</h4>
		</div>
		<div class="col col-lg-2"></div>
	</div>
</div>