<div class="container">
	<div class="row">
		<div class="col">
			<h1>宅配マスターへ会員登録すると？</h1>
			<ol>
				<h2 class="explain"><li>検索しなくても再配達・日時変更ができる！</li></h2>
				<p class="explain-details">自分の荷物を一覧で確認できるので、わざわざ検索しなくても再配達や配達の日付変更がようになります。</p>
				<h2 class="explain"><li>レベルアップ機能がゲーム感覚機能で楽しい！</li></h2>
				<p class="explain-details">配達を受け取るたびに経験値が貯まり、自分がレベルアップできるのでゲーム感覚で受け取りをしていただけます。</p>
				<h2 class="explain"><li>マイカレンダーで配達物の管理ができる！</li></h2>
				<p class="explain-details">カレンダーで荷物の受け取りが確認できるので、荷物の管理が楽に出来るようになります。</p>
				<h2 class="explain"><li>配達ドライバーに いいね・コメントができる！</li></h2>
				<p class="explain-details">配達したドライバーに対していいね！したりコメントを送ることができます。</p>
				<h2 class="explain"><li><%= link_to "会員登録する（無料）" ,new_enduser_registration_path %></li></h2>
			</ol>
		</div>
	</div>
</div>