<div class="container">
	<div class="row">
		<div class="col">
			<h1>宅配マスターへ会員登録すると？</h1>
			<ol>
				<h2 class="explain"><li>検索しなくても再配達の依頼ができる！</li></h2>
				<p class="explain-details">自分の荷物を一覧で確認できるので、再配達を楽に設定できます。</p>
				<h2 class="explain"><li>配達ドライバーに いいね・コメントができる！</li></h2>
				<p class="explain-details">配達したドライバーに対していいね！したりコメントを送ることができます。</p>
				<h2 class="explain"><li><%= link_to "会員登録する（無料）" ,new_enduser_registration_path %></li></h2>
			</ol>
		</div>
	</div>
</div>