
<div class="container">
  <div class="row">
    <div class="col">
      <h2>再配達依頼</h2>
      <%= form_tag(redeliveries_search_path, :method => 'get') do %>
      <label>伝票番号</label>：
      <%= text_field_tag :search ,params[:search],placeholder:"伝票番号で検索"%>
      <%= submit_tag " 検索　", class: 'btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
