
<div class="container">
  <div class="row">
    <div class="col col-lg-2"></div>
    <div class="col col-lg-8">
    <h2 class="sign_title">ログイン</h2>
     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th class="col-lg-2">メールアドレス</th>
            <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
          </tr>
          <tr>
            <th>パスワード</th>
            <td><%= f.password_field :password, autocomplete: "current-password" %></td>
          </tr>
          <tr>
            <th></th>
            <td><%= f.submit "ログイン", class: 'btn btn-primary' %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
    </div>
  </div>
</div>

