// Place all the styles related to the drivers/deliveries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#delivery_package_id{
	width:250px;
}

.decision-boton{
	width:120px;
	height:40px;
	border:2px solid black;
	text-align: center;
	line-height:40px;
	border-radius: 5px;
	margin-top: 10px;
	font-size: 20px;
}

.delivery-button{
	width:250px;
	height: 45px;
	margin-top: 20px;
	font-size: 20px;
	border-radius: 5px;
}

#delivery_status_不在{
	vertical-align:0.2em;
	margin-right: 10px;
}

#delivery_status_配達完了{
	vertical-align:0.2em;
	margin-right: 10px;
}

.not_delivery{
	font-size: 20px;
	color:red;
	margin-top: 25px;
}

.delivery_count{
	margin-right:15px;
}

.slip_number_place{
	margin-top: 10px;
	margin-bottom: 10px;
}