/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

    @import "bootstrap-sprockets";
    @import "bootstrap";

header, footer{
	width:100%;
	background-color: #10af9e;
}

footer {
  margin-top: auto;
  height:80px;
}

body{
	background-color:#ffda00;
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
 width:100%;
}

.row{
    width:80% ;
	padding: 30px 30px;
	margin :40px auto;
	background-color:white;
}
.row-master{
	background-color:#ffda00;
}

.nav-list-item {
	display: inline-block;
	font-weight: 700;
	font-size: 18px;
	padding: 10px 20px;
	margin:40px 20px 0 20px;
	background-color: white;
	box-shadow: 0px 0px 0px 5px #d3d3d3;
	float:right;
	text-align:center;
}
.nav-list-item-bottom{
	margin:0 20px;
}
.nav-list-footer{
	margin:20px;
}

.app_title{
	padding:10px;
	margin:10px;
	font-weight: 700;
	background-color:white;
	display:inline-block;
	box-shadow: 0px 0px 0px 5px #d3d3d3;
	font-family:serif;
}
.log_in_name{
	float:right;
	width:380px;
	text-align: right;
	font-size:20px;
	margin-top:50px;
}

#sales_office_email, #enduser_email, #enduser_address, input[type="password"], .address-place{
	width:300px;
}

.sign_in_botton{
	margin-top:10px;
}
.sign_up_botton{
	margin-top:10px;
}
.sign_in_title{
	margin :20px 0 ;
}

#table th {
	vertical-align:middle;
}
